<div ng-show='galery'>
    <div id="all_img">
        <div id="galery">
            <div class="item_masonry"> <img src="/img/Galery/1.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/2.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/3.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/4.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/19.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/17.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/5.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/6.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/7.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/8.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/9.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/10.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/11.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/12.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/13.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/14.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/15.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/16.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/18.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/20.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/21.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/22.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/23.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
            <div class="item_masonry"> <img src="/img/Galery/24.jpg">
                <div class="cover-item-galery">
                    <a href="#" ng-click = 'click1()'> </a>
                </div>
            </div>
        </div>
    </div>
</div>