<div ng-show="goodsStatus">
    <div class="main___good__block" id="goodsBlockElement">
        <div class="main___good____content">
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block" style="border: 1px solid red">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block" style="border: 1px solid red">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
            <div class="good__block">
                <header>Hello</header>
                <content>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </content>
                <footer>
                    <input type="button" value="btn" class="btn btn-success">
                </footer>
            </div>
        </div>
    </div>
</div>
