<div ng-show="mainpageStatus" id="mainpageWrapper">





    <div id="outerSliderWrapper">
        <div id="slider">

            <base href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/">
            <div id="sliderCss">
                <figure>
                    <img src="../img/1.jpg" alt>
                    <img src="../img/2.jpg" alt>
                    <img src="../img/3.jpg" alt>
                    <img src="../img/4.jpg" alt>
                    <img src="../img/5.jpg" alt>
                </figure>
            </div>


        </div>
    </div>



</div>
