<div ng-show="navStatus">
    <header id="mainpageHeader">
        <h1>This is our site</h1>
    </header>

    <nav>
        <ul>
            <li><a href="" ng-click="chooseHome()">Home</a></li>

            <li><a href="" ng-click="chooseContacts()">Contacts</a></li>

            <li><a href="" ng-click="chooseGalery()">Galery</a></li>

            <li><a href="" ng-click="chooseGoods()" id="goodsDirectory">Goods</a></li>

            <li><a href="" ng-click="chooseFabric()" id="fabricDirectory">Fabric</a></li>



        </ul>
    </nav>
</div>
