<div ng-show='slider'>
    <div id="container" class="sfafsasf" class='fade'>
        <div id="slideshow" class="cycle-slideshow" 
        data-cycle-fx="fade" 
        data-cycle-manual-speed="400" 
        data-cycle-prev="#prev" 
        data-cycle-next="#next" 
        data-cycle-speed="600" 
        data-cycle-timeout="10000000" 
        data-cycle-pager="#pager" 
        data-cycle-pager-template="<a href='#'><img src='{{src}}' width=150 height=100></a>">
       
        <img src='../img/Galery/1.jpg' id="intro_img" /> 
        <img src='../img/Galery/2.jpg' id="intro_img" /> 
        <img src='../img/Galery/3.jpg' id="intro_img" /> 
        <img src='../img/Galery/4.jpg' id="intro_img" /> 
        <img src='../img/Galery/5.jpg' id="intro_img" /> 
        <img src='../img/Galery/6.jpg' id="intro_img" /> 
        <img src='../img/Galery/7.jpg' id="intro_img" /> 
        <img src='../img/Galery/8.jpg' id="intro_img" /> 
        <img src='../img/Galery/9.jpg' id="intro_img" /> 
        <img src='../img/Galery/10.jpg' id="intro_img" /> 
        <img src='../img/Galery/11.jpg' id="intro_img" /> 
        <img src='../img/Galery/12.jpg' id="intro_img" /> 
        <img src='../img/Galery/13.jpg' id="intro_img" /> 
        <img src='../img/Galery/14.jpg' id="intro_img" /> 
        <img src='../img/Galery/15.jpg' id="intro_img" /> 
        <img src='../img/Galery/16.jpg' id="intro_img" /> 
        <img src='../img/Galery/17.jpg' id="intro_img" /> 
        <img src='../img/Galery/18.jpg' id="intro_img" /> 
        <img src='../img/Galery/19.jpg' id="intro_img" /> 
        <img src='../img/Galery/20.jpg' id="intro_img" /> 
        <img src='../img/Galery/21.jpg' id="intro_img" /> 
        <img src='../img/Galery/22.jpg' id="intro_img" /> 
        <img src='../img/Galery/23.jpg' id="intro_img" /> 
        <img src='../img/Galery/24.jpg' id="intro_img" /> 
   
        </div>
        <div id="pager"> </div>
        <div id="prev_c"><img id="prev" src="img/prev1.svg" /></div>
        <div id="next_c"><img id="next" src="img/next1.svg" /></div>
    </div>
</div>